<!-- templates/registration/login.html -->
{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}
{% block content %}
<main class="d-flex justify-content-center">
    <div class="col-5 mt-5">
        <h2 class="text-center">Log In</h2>
        <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form|crispy }}
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-warning fw-bold w-100" type="submit">Log In</button>
        </div>
        <p><a href="{% url 'bookmark:password_reset' %}">Forgotten your password?</a></p>
        </form>
    </div>
</main>
{% endblock content %}