{% extends 'base/base.html' %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="book-detail">
        {% if book.cover %}
        <img class="mt-3" src="{{ book.cover.url }}" alt="{{ book.title }}">
        {% endif %}
        <h2><a class="text-decoration-none" href="">{{ book.title }}</a></h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <div>
            <h3>Reviews</h3>
            <ul class="">
                {% for review in book.reviews.all %}
                <li>{{ review.review }} <blockquote>({{ review.author }}) </blockquote></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}